LoyaltyTransferScheduler/ServiceTestApplication.v12.suo
LoyaltyTransferScheduler/VNAppServer.Anatoli.Loyalty.DataTranster/obj/
LoyaltyTransferScheduler/VNAppServer.Anatoli.Loyalty.DataTranster/bin/
LoyaltyTransferScheduler/VNAppServer.Anatoli.Loyalty.Scheduler/obj/
LoyaltyTransferScheduler/VNAppServer.Anatoli.Loyalty.Scheduler/bin/
LoyaltyTransferScheduler/ServiceTestApplication/bin/
LoyaltyTransferScheduler/ServiceTestApplication/obj/